<!--h1 class="mb-4">
  Printerstatus: 
  <span class="badge badge-success" *ngIf="state.printing">Printing</span>
  <span class="badge badge-secondary" *ngIf="!state.printing">Idling</span>
</h1-->
<h1 class="mb-4">Local files and actions</h1>

<form [formGroup]="optionsForm">
  <div class="row hidden-sm-down">
    <h3 class="col-sm">Display options:</h3>

    <p class="my-auto mr-1">Filetypes: </p>
    <div class="btn-group btn-group-toggle mr-3 btn-group-sm" role="group" aria-label="Display filetypes">
      <label ngbButtonLabel class="btn-secondary">
        <input
          ngbButton
          type="checkbox"
          formControlName="displaySvg"
          value="svg">
          SVG
      </label>
      <label ngbButtonLabel class="btn-secondary">
        <input
          ngbButton
          type="checkbox"
          formControlName="displayStl"
          value="stl">
          STL
      </label>
      <label ngbButtonLabel class="btn-secondary">
        <input
          ngbButton
          type="checkbox"
          formControlName="displayOthers"
          value="others">
          others
      </label>
    </div>
    
    <p class="my-auto mr-1">Items per row: </p>
    <div class="btn-group btn-group-toggle btn-group-sm mr-3" ngbRadioGroup formControlName="itemCount" role="group" aria-label="Display items per row">
      <label ngbButtonLabel class="btn-secondary">
        <input ngbButton type="radio" [value]="1">1
      </label>
      <label ngbButtonLabel class="btn-secondary">
        <input ngbButton type="radio" [value]="2">2
      </label>
      <label ngbButtonLabel class="btn-secondary">
        <input ngbButton type="radio" [value]="4">4
      </label>
    </div>
  </div>
</form>
<hr class="mb-5">

<div class="row" *ngFor="let row of files">
  <app-file-card
    *ngFor="let file of row"
    [data]="file"
    (print)="printFile($event)"
    (inspect)="inspectFile($event)"
    (delete)="deleteFile($event)"
    class="col-sm">
  </app-file-card>
  <!-- TODO kinda dirty to clean last row... find better approach -->
  <div class="col-sm" *ngIf="row.length <= (sessionStorageService.filesDisplayOptions.value.itemCount - 1)"></div>
  <div class="col-sm" *ngIf="row.length <= (sessionStorageService.filesDisplayOptions.value.itemCount - 2)"></div>
  <div class="col-sm" *ngIf="row.length <= (sessionStorageService.filesDisplayOptions.value.itemCount - 3)"></div>
</div>