<!--h1 class="mb-4">
  Printerstatus: 
  <span class="badge badge-success" *ngIf="state.printing">Printing</span>
  <span class="badge badge-secondary" *ngIf="!state.printing">Idling</span>
</h1-->
<h1 class="mb-4">Local files and actions</h1>

<form [formGroup]="optionsForm">
  <div class="row hidden-sm-down">
    <h3 class="col-sm">Display options:</h3>

    <p class="my-auto mr-1">Filetypes: </p>
    <div class="btn-group btn-group-toggle mr-3 btn-group-sm" role="group" aria-label="Display filetypes">
      <label ngbButtonLabel class="btn-secondary">
        <input
          ngbButton
          type="checkbox"
          formControlName="displaySvg"
          value="svg">
          SVG
      </label>
      <label ngbButtonLabel class="btn-secondary">
        <input
          ngbButton
          type="checkbox"
          formControlName="displayStl"
          value="stl">
          STL
      </label>
      <label ngbButtonLabel class="btn-secondary">
        <input
          ngbButton
          type="checkbox"
          formControlName="displayGCodes"
          value="gcodes">
          GCodes
      </label>
      <label ngbButtonLabel class="btn-secondary">
        <input
          ngbButton
          type="checkbox"
          formControlName="displayOthers"
          value="others">
          others
      </label>
    </div>
    
    <p class="my-auto mr-1">Items per row: </p>
    <div class="btn-group btn-group-toggle btn-group-sm mr-3" ngbRadioGroup formControlName="tableDisplay" role="group" aria-label="Display as tiles or table">
      <label ngbButtonLabel class="btn-secondary">
        <input ngbButton type="radio" [value]="true"><i class="fa fa-th"></i>
      </label>
      <label ngbButtonLabel class="btn-secondary">
        <input ngbButton type="radio" [value]="false"><i class="fa fa-list"></i>
      </label>
    </div>
  </div>
</form>
<hr class="mb-5">

<div class="row">
  <app-file-card
    *ngFor="let file of files"
    [data]="file"
    (print)="printFile($event)"
    (inspect)="inspectFile($event)"
    (delete)="deleteFile($event)"
    class="col-sm">
  </app-file-card>
  <div class="col-sm" *ngIf="files.length < 3"></div>
  <div class="col-sm" *ngIf="files.length < 2"></div>
</div>