Firmware/external/Slic3r
Firmware/node_modules
Firmware/external/*
Firmware/package-lock.json
Firmware/dist/
Firmware/projector/dist/
Firmware/server/dist
Firmware/server/dlprinter/node_modules
Firmware/server/Backup
Firmware/server/dlprinter/package-lock.json
*/.DS_Store
.DS_Store
.idea
