<div class="card mb-4">
  <img *ngIf="data.image" src="data.image" class="card-img-top" [alt]="data.name">
  <i *ngIf="!data.image" class="fa fa-image no-image text-secondary mt-3"></i>
  <div class="card-body">
    <h5 class="card-title">{{ data.name }}</h5>
    <p class="card-text" *ngIf="data.description">{{ data.description }}</p>
    <p class="card-text">
      Type: {{ data.type }}
      <br />
      Date: {{ data.dateTime | date }}
      <br />
      Size: {{ (data.size / 1024 / 1024) | number:'1.2-2' }} MB
    </p>
  </div>
  <div class="card-footer btn-group" role="group" aria-label="Fileactions">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="process.emit(data)"
      [disabled]="(data.type !== 'svg' && data.type !== 'stl')"
      ngbTooltip="{{ data.type === 'svg' ? 'Print' : data.type === 'stl' ? 'Slice' : '' }}">

        <span class="sr-only" [innerHtml]="(data.type === 'svg' ? 'Print ' : data.type === 'stl' ? 'Slice ' : '') + data.name"></span>
        <i class="fa" [class.fa-print]="data.type === 'svg'"  [class.fa-tasks]="data.type === 'stl' || data.type === 'gcode'"></i>
    </button>
    <button type="button" class="btn btn-secondary" (click)="inspect.emit(data)" ngbTooltip="Inspect">
        <span class="sr-only">Inspect {{ data.name }}</span>
        <i class="fa fa-edit"></i>
    </button>
    <button type="button" class="btn btn-secondary" [ngbPopover]="popDeleteFile" [popoverTitle]="popDeleteFileHead" ngbTooltip="Delete">
        <span class="sr-only">Delete {{ data.name }}</span>
      <i class="fa fa-trash"></i>
    </button>
  </div>
</div>
<ng-template #popDeleteFileHead>Delete {{ data.name }}?</ng-template>
<ng-template #popDeleteFile>
  <p>Are you sure you want to delete this file?</p>
  <button type="submit" class="btn btn-danger" (click)="delete.emit(data)" >Yes</button>
</ng-template>