<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" [routerLink]="['/']">DLPrinter</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/home']" [routerLinkActive]="'active'">Status</a>
      <a class="nav-item nav-link" [routerLink]="['/print']" [routerLinkActive]="'active'">Print</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/settings']" [routerLinkActive]="'active'">
        <i class="fa fa-cog"></i>
      </a>
    </div>
  </div>
</nav>
