span {
    white-space: nowrap;
    &.light-button {
        cursor: pointer;
    }
}
i.fa-signal {
    color: maroon;
    &.connected {
        color: aquamarine;
    }
}
i.fa-lightbulb-o {
    &.on {
        color: blueviolet;
    }
}